[submodule "vllm"]
	path = vllm
	url = https://github.com/bins-dev/vllm.git
	branch = main
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/bins-dev/llama.cpp.git
[submodule "openclaw"]
	path = openclaw
	url = https://github.com/bins-dev/openclaw.git
	branch = main
[submodule "hermes-agent"]
	path = hermes-agent
	url = https://github.com/bins-dev/hermes-agent.git
	branch = main
[submodule "comfy-ui"]
	path = comfy-ui
	url = https://github.com/bins-dev/comfy-ui.git
