[submodule "vllm"]
	path = vllm
	url = https://github.com/bins-dev/vllm.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/bins-dev/llama.cpp.git
[submodule "openclaw"]
	path = openclaw
	url = https://github.com/bins-dev/openclaw.git
